#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
eks-state

# .tfvars files
*.tfvars
*.lock.hcl
config-map-aws-auth.yaml

# node modules

node_modules/*

target/*